<%- include('head.ejs') %>
<body>
  <style>
    .filtro-container {
      width: 100%;
    }
    #filtro-btn {
      background-color: #7CB342;
      color: white;
      border: none;
      border-radius: 3px;
      padding: 10px 15px;
      cursor: pointer;
    }
    #filtro-btn:hover {
      background-color: #689F38;
    }
    #opciones-filtro {
  width: 100%;
  position: relative;
  top: 100%;
  left: 0;
  padding: 5px;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  display: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: white;
  gap: 10px; /* añade espacio entre los elementos */
}

    .open{
      box-shadow: 1px 1px 3px black;
    }


    .open label {
      font-size: 19px;
      font-family: 'Roboto', sans-serif;
      color: #333;
      font-family: 'Manga Temple', cursive;
    }
    .open input[type="checkbox"]:checked + label {
      font-weight: bold;
      color: #7CB342;
    }
    .modal-contenido{
  background-color: #547C64;
  width:300px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
}

.modal p {
  opacity: 0.7;
  font-size: 14px;
  color: aliceblue;
  
}
.modal h1 {
  margin: 0;
}


  </style>

  <link rel="stylesheet" type="text/css" href="/css/estilospagina2.css" />
  <header>
    
    <div class="container">
      <div class="logo">
        <img src="/img/logo.PNG" alt="Logo">
      </div>
      <div class="search">
        <form action="/totalProducto" method="post">
          <input type="search" placeholder="Busca tu recurso ..." aria-label="Buscar" id="keyword" name="keyword">
          <button type="submit"><i class="bi bi-search">Buscar</i></button>
        </form>
      </div>
    </div>
  </header>
  <main>
    <h1>Resultados</h1>
    <button id="filtro-btn">Filtrar</button>
    <div class="filtro-container" id="filtroContainer">
      <div id="opciones-filtro">
        <% let opciones = 0; %> <%products.forEach(function(item) { %>

        <label for="opcion<%=opciones%>"
          ><input
            checked
            type="checkbox"
            name="opcion<%=opciones%>"
            id="opcion<%=opciones%>"
            value=" <%= item.title[0] %>"
          />
          <%= item.title[0] %></label
        >
        <%opciones++;%> <%})%>
      </div>
    </div>

    <% products.forEach(function(item) { %>
      <div class="contenedorProdu">
        <!-- selector de categorias (FOTOS, PLANTILLAS DE VIDEO ETC) -->
        <div class="contenidotitulo">
          <button class="cta"><span><a class="titulo" href="<%= item.title[1] %>"><%= item.title[0] %></a></span><svg viewBox="0 0 13 10" height="10px" width="15px">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg></button>
        </div>
        <!-- --------------------- -->
        <div class="mejoradocajas">
          <div class="conteiResultado">
            <% for(let index = 0; index < item.containerData.authors.length; index++) { %>
              <div class="hijosResult">
                <img class="imgRes" src="<%= item.containerData.imagen[index][0] %>" alt="pera">
                <div class="contenedordescripcion">
                  <span class="descripcion"><%= item.containerData.descriptions[index][0] %></span>
                  <a class="autores" href="<%= item.containerData.authors[index][1] %>"><%= item.containerData.authors[index][0] %></a>
                </div>
                <!-- Icono de descarga -->
                <div class="contenedorboton">
                  <button class="botonicono" id="miBoton">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="" viewBox="0 0 16 16">
                      <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                      <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                    </svg>
                  </button>
                </div>
                
              </div>
              <div class="modal" id="miModal">
                <div class="modal-contenido">
                  <h1>¿Quieres comprar este producto?</h1>
                  <% if (item.containerData.imagen && item.containerData.imagen[index] && item.containerData.imagen[index][0]) { %>
                    <img class="imgRes" src="<%= item.containerData.imagen[index][0] %>" alt="pera">
                  <% } else { %>
                    <p>Error: No se encontró la imagen seleccionada</p>
                  <% } %>
                  <p>Descarga este articulo de forma facil y segura</p>
                  <br>
                  <p>TODOS NUESTROS PRODUCTOS ESTA LICENCIADOS!</p>
                  <button id="cerrarModal">Cerrar</button>
                  <button> descargar por 1$</button>
                </div>
              </div>
            <% } %>
            
          </div>
        </div>
      </div>
      <% }) %>  
  </main>
  <script>
    const btnFriltro = document.getElementById("filtro-btn");
    const opcionesFiltro = document.getElementById("opciones-filtro");

    btnFriltro.addEventListener("click", (e) => {
      e.preventDefault();
      opcionesFiltro.style.display =
        opcionesFiltro.style.display === "flex" ? "none" : "flex";

      if(opcionesFiltro.classList.toString() == "open"){
        opcionesFiltro.classList.remove("open");
      }else{
        opcionesFiltro.classList.add("open");
      }

    });

    const filtroSeleccionar = document.querySelectorAll(".contenedorProdu");

    let miCheckbox = document.querySelectorAll("input[type='checkbox']");
    for (let i = 0; i < filtroSeleccionar.length; i++) {
      miCheckbox[i].addEventListener("change", function () {
        if (this.checked) {
          filtroSeleccionar[i].style.display = "block";
        } else {
          filtroSeleccionar[i].style.display = "none";
        }
      });
    }


    const botones = document.querySelectorAll(".botonicono");
const modal = document.querySelectorAll('#miModal');
const cerrarModal = document.querySelectorAll('#cerrarModal');

for(let e=0;e<botones.length; e++){
  botones[e].addEventListener('click', function() {
    // Obtener el ID del botón que se hizo clic
    
    
    // Muestra la ventana modal
    modal[e].style.display = 'block';
    
  });
};

// Agrega un event listener al botón de cerrar modal para escuchar el evento 'click'
    for(let e=0;e< cerrarModal.length;e++){
      cerrarModal[e].addEventListener('click', function() {
      // Oculta la ventana modal
      modal[e].style.display = 'none';
    });
    }
    
  </script>

  <%- include('footer.ejs') %>
</body>
