<%- include('head.ejs') %> 
<body>
<style>
  .img1{
    width: 300px;
  }
</style>
<main >
  <h1>Resultados</h1>

  <% products.forEach(function(item) { %>
    <div>
      <a href="<%= item.title[1] %>"><%= item.title[0] %></a> <br>
     
        <% for(let index = 0; index < item.containerData.authors.length; index++){ %>
          <div>
            
            <img class="img1" src="<%= item.containerData.imagen[index][0] %>" alt="pera"><br>
          </div>
          
        <% } %>
     
    </div>
  <% }); %>
    
  
</main>
<%- include('footer.ejs') %> 